body {
    font-family: 'Roboto', sans-serif;
}

.blue-section {
    background: #2f3192;
    color: #fff;
}

.blue-section a {
    color: #4999ef;
    text-decoration: underline;
    font-weight: bold;
}

.blue-section a:hover {
    color: #007bff;
}

a.link-img {
    text-decoration: none !important;
}

.divider {
    display: block;
    background: rgba(255, 255, 255, 0.3);
    height: 1px;
    margin: 30px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 2.8rem;
}

.btn-red {
    background: #EF3A4D;
    color: #fff;
}

.btn-red:hover {
    background: #CB3343;
    color: #fff;
}

.btn-primary {
    background: #2F3192;
}

.btn-primary:hover {
    background: #23256f;
}

footer {
    background: #333;
    color: #fff;
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }

    header .container {
        flex-direction: column;
    }

    header .container img {
        margin-bottom: 1rem;
    }
}

